@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

h1 {
    font-family: 'Lexend', sans-serif;
    font-size: 6vh;
}

h2{
    font-family: 'Lexend', sans-serif;
    font-size: 1.8vh;
}